.cepraee {
  background: url("./img/cepraee.jpg") fixed center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cepraee-text {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}